@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

body {
	background: url(images/cool.jpg);
	font-family: Verdana;
}

a{
	text-decoration:none;
	color:#FFFFFF;
	font-family:Verdana, Geneva, sans-serif;
}
a:hover
{
	color:#000;
	font-weight:800;
}
a.link
{
	color:#000;
}
table.menu {
	 border-color: transparent;
	 background-color:#000;
	 border:none;
	 width:1350px;
	 align:left;
	 border-collapse:separate;
	 text-align:center;
	 
}
table.login {
	 border-color: transparent;
	 border:none;
	 width:1350px;
	 height:50px; 
}
td.bg{
	background-color:#A67D3D;
	text-decoration:none;
	text:white;
	border-color:#000;
	width:225px;
}
